.backLink {
  display: block;
  color: black;
  margin: 16px 0;
  text-decoration: none;
  font-weight: bold;
}
.generalInfo {
  display: flex;
  border-bottom: 2px solid lightgray;
  padding-bottom: 10px;
}

.generalInfo_text {
  padding: 20px;
}
.genresList {
  display: flex;
  gap: 20px;
  list-style: none;
}
.addInfo {
  border-bottom: 2px solid lightgray;
}
